* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    width: 100%;
}

header {
    background-color: #fff;
    justify-content: space-between;
}

#logo {
    justify-content: space-between;
    align-items: center;
    color: #6e1b9a;
}

#logo img {
    height: 80%;
    min-width: 30px;
}

nav {
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
    color: #717171;
    font-weight: bold;
    margin: 0 1em;
}

#home {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #5a5a5a;
}

#home .row:first-child {
    background-image: url(imgs/DSC_2826.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    padding-bottom: 3em;
    align-items: flex-end;
    color: #fff;
}

#home div div,
footer div {
    justify-content: center;
}

#home div h2 {
    margin: 1.5em 0;
}

button {
    background-color: #107bd9;
    border: 0;
    padding: 1em 1.5em;
    border-radius: .3em;
    color: #fff;
    font-weight: bold;
}

button:hover {
    background-color: #62006f;
}

footer {
    background-color: #484a58;
    color: #fff;
    margin-top: 2em;
}

footer div div {
    align-items: center;
}

footer div div img {
    height: 50%;
    min-width: 30px;
    margin-right: 1em;
}

@media (min-width:769px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.5em;
    }
}

@media (min-width:480px) and (max-width:768px) {
    #logo {
        justify-content: flex-start;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1em;
    }
}

@media (min-width:0px) and (max-width:479px) {
    h1 {
        font-size: 1em;
    }
    h2 {
        font-size: .5em;
    }
}
